body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRd6B6BoZNuid48pbR-lc9kgNai25GkVMZ6fbaXYXlBvc00W7_SGgK8FdOtTKFwt_Qyh3w&usqp=CAU') !important;
  background-repeat: repeat !important;
  background-size: 50px 50px; /* Adjust this value to change the size of each tile */
}
