body {
  background-image: url('https://media.istockphoto.com/id/1433025644/vector/geometric-islamic-pattern.jpg?s=612x612&w=0&k=20&c=-8JFl0imz0OL_KXewEKKm6hfbFxEGOM2vlkqXuoJObs=') !important;
  background-repeat: repeat !important;
  background-size: 50px 50px; /* Adjust this value to change the size of each tile */
}
